/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #A3CAE9;
    padding: 20px;
    font-family: Arial;
  }
  
  .heading{
    background-color: #373738;
    color: #efeff2;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .content {
    background-color: #6e9fc1;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 25px;
  }


  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    margin-right: 20px;
    background-color: #6e9fc1;
    color: white;
  }

  .btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 50px 0 rgba(0,0,0,0.19);
  }
  
  nav {
    background-color: #6e9fc1;
    padding: 10px;
    border-radius: 10px;
  }
  
  footer {
    background-color: #6e9fc1;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  
  }

  .projectTitle {
    text-align: center;
  }

  .contactsTitle {
    color: #395a7f;
    text-align: center;
  }

 .contact-infos {
   color: white;
 }

  .contact-logos {
    width: 13px;
  }
